*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/cloud/.aws-sam
/cloud/aws/dist
/cloud/.claude
/dashboard/backend/.venv
/dashboard/frontend/node_modules
